img{
    width: 100px;
    height: 100px;
}

.first-title{
    font-size: 48px; 
    color: blue;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .laptop{
     font-size: 20px;
     background-color: blueviolet;
     border: 2px black dotted;
     border-radius: 2px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: red;
 }
 th, td{
     border: 2px solid black;
 }